{% extends 'index.html' %}
{% load static %}
{% block content %}
<!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-coins"></i>
            Primal Loot</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-sm table-xs" id="dataTable0" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Raid</th>
                    <th>Member</th>
                    <th>Character</th>
                    <th>Class</th>
                    <th>Item</th>
                    <th>GP</th>
                    <th>Time</th>
                    {% comment %} <th>Given By</th> {% endcomment %}
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Raid</th>
                    <th>Member</th>
                    <th>Character</th>
                    <th>Class</th>
                    <th>Item</th>
                    <th>GP</th>
                    <th>Time</th>
                    {% comment %} <th>Given By</th> {% endcomment %}
                  </tr>
                </tfoot>
                {% comment %} <tbody>
                {% for item in loot %}
                  <tr class="{% if item.raid.state == 0 %}table-primary{% elif item.raid.state == 1 %}table-warning{% elif item.raid.state == 2 %}table-danger{% elif item.raid.state == 3 %}table-success{% endif %}">
                    <td><a href="/raids/{{ item.raid.id }}/">{{ item.raid.dungeon.name }}</a></td>
                    <td><a href="">{{ item.member.name }}</a></td>
                    <td>{{ item.character }}</td>
                    <td><img width="20px" class="mr-1" src="{% static 'classes/' %}{{ item.character.get_character_class_display }}.png" class="rounded float-left" alt=""> {{ item.character.get_character_class_display }}</td>
                    <td><a href="https://classic.wowhead.com/item={{ item.item.wow_id }}" class="q1">{{ item.item.name }}</a></td>
                    <td>{{ item.gp|floatformat:2 }}</td>
                    <td>{{ item.timestamp|date:"d-m-Y - H:i:s" }}</td>
                  </tr>
                {% endfor %}
                </tbody> {% endcomment %}
              </table>
            </div>
          </div>
          <div class="card-footer"><span class="badge badge-success">Success</span> <span class="badge badge-warning">Paused</span> <span class="badge badge-danger">Failed</span> <span class="badge badge-primary">In Progress</span></div>
        </div>
{% endblock %}

{% block scripts %}

  <script charset="UTF-8">

    var table = $('#dataTable0').DataTable({
      "order": [[ 6, "desc" ]],
      "lengthMenu": [[10, 25, 50], [10, 25, 50]],
      "processing": true,
      "serverSide": true,
      "ajax": "page/",
    });
    
    table.on('draw', function () {
      $WowheadPower.refreshLinks();
    });

  </script>

{% endblock %}