{% extends 'index.html' %}

{% block content %}
<!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Primal Loot</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Raid</th>
                    <th>Member</th>
                    <th>Item</th>
                    <th>Date</th>
                    <th>Given By</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Raid</th>
                    <th>Member</th>
                    <th>Item</th>
                    <th>Date</th>
                    <th>Given By</th>
                  </tr>
                </tfoot>
                <tbody>
                {% for item in loot %}
                  <tr class="{% if item.raid.state == 0 %}table-primary{% elif item.raid.state == 1 %}table-warning{% elif item.raid.state == 2 %}table-danger{% elif item.raid.state == 3 %}table-success{% endif %}">
                    <td><a href="/raids/{{ item.raid.id }}/">{{ item.raid.dungeon.name }}</a></td>
                    <td><a href="">{{ item.member.name }}</a></td>
                    <td><a href="https://classic.wowhead.com/item={{ item.item.wow_id }}" class="q1">{{ item.item.name }}</a></td>
                    <td>{{ item.timestamp|date:"d-m-Y - H:i:s" }}</td>
                    <td><a href="">{{ item.given_by.member.name }}</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer"><span class="badge badge-success">Success</span> <span class="badge badge-warning">Paused</span> <span class="badge badge-danger">Failed</span></div>
        </div>
{% endblock %}