{% extends 'index.html' %}
{% load static %}
{% block content %}
<!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Primal Members</div>
          <div class="card-body">
            <table class="table table-bordered table-sm" data-page-length='100' id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Rank</th>
                  <th>EP</th>
                  <th>GP</th>
                  <th>Priority</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Rank</th>
                  <th>EP</th>
                  <th>GP</th>
                  <th>Priority</th>
                </tr>
              </tfoot>
              <tbody>
              {% for member in members %}
                <tr style="background-color: {{ member.class_color }};">
                  <td><a href="{% url 'member' member.id %}">{{ member.name }}</a></td>
                  {% comment %} <td><img width="20px" class="mr-1" src="{% static 'classes/' %}{{ member.get_member_class_display }}.png" class="rounded float-left" alt="">  {{ member.get_member_class_display }}</td> {% endcomment %}
                  <td>{{ member.get_rank_display }}</td>
                  <td>{{ member.ep|floatformat:2 }}</td>
                  <td>{{ member.gp|floatformat:2 }}</td>
                  <td>{{ member.priority|floatformat:2 }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% comment %} <div class="card-footer small text-muted">Updated {{ timestamp }}</div> {% endcomment %}
        </div>
{% endblock %}


{% block scripts %}

  <script charset="UTF-8">

  // auto order table
  $('#dataTable').DataTable( {
    "order": [[ 4, "desc" ]]
  });

  </script>

{% endblock %}