{% extends 'index.html' %}

{% block content %}

<style>
  .ui-autocomplete {
    max-height: 500px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    z-index: 5000;
  }
</style>

<ul class="" style="list-style: none; padding-left: 0;">
{% if raid.end is None %}
  
  <button type="button auto" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#giveItemModal">Give Item</button>
  <br>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-danger btn" onclick="window.location.href='fail/';" data-toggle="modal" data-target="#failModal">Fail</button>
    <button type="button" class="btn btn-warning btn text-white" onclick="window.location.href='pause/';" data-toggle="modal" data-target="#pauseModal">Pause</button>
    <button type="button" class="btn btn-success btn" data-toggle="modal" onclick="window.location.href='complete/';" data-target="#completeModal">Complete</button>
  </div>
{% else %}
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    {% if raid.state == 1 %}
      <div class="btn-group" role="group">
        <button type="button auto" class="btn btn-group btn-warning" >Paused</button>
      </div>
    {% elif raid.state == 2 %}
      <div class="btn-group" role="group">
        <button type="button auto" class="btn btn-group btn-danger">Failed</button>
      </div>
    {% elif raid.state == 3 %}
      <div class="btn-group" role="group">
        <button type="button auto" class="btn btn-group btn-success">Completed</button>
      </div>
    {% endif %}
  </div>
{% endif %}
</ul>

<!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            <b>{{ raid.dungeon.name }} Loot</b>  {{ raid.start|date:"d-m-Y - H:i:s" }}</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Given To</th>
                    <th>Date</th>
                    <th>Given By</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Item</th>
                    <th>Given To</th>
                    <th>Date</th>
                    <th>Given By</th>
                  </tr>
                </tfoot>
                <tbody>
                {% for item in loot %}
                  <tr>
                    <td><a href="">{{ item.member.name }}</a></td>
                    <td><a href="https://classic.wowhead.com/item={{ item.item.wow_id }}" class="q1">{{ item.item.name }}</a></td>
                    <td>{{ item.timestamp|date:"d-m-Y - H:i:s" }}</td>
                    <td><a href="">{{ item.given_by.member.name }}</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% comment %} <div class="card-footer"><span class="badge badge-success">Success</span> <span class="badge badge-warning">Paused</span> <span class="badge badge-danger">Failed</span></div> {% endcomment %}
        </div>

{% if raid.end is None %}
{% load crispy_forms_tags %}
<!-- Give Item Modal-->
  <div class="modal fade bd-example-modal-xl" id="giveItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <form method="POST" action="give/">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Give item</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-4">
              <i class="fas fa-user prefix grey-text"></i>
              <label data-error="wrong" data-success="right" for="defaultForm-member">Member</label>
              {{ form.member|as_crispy_field }}
              {{ form.member_id|as_crispy_field }}
            </div>

            <div class="md-form mb-4">
              <i class="fas fa-gavel prefix grey-text"></i>
              <label data-error="wrong" data-success="right" for="defaultForm-item">Item</label>
              {{ form.item|as_crispy_field }}
              {{ form.item_id|as_crispy_field }}
            </div>

            <div class="md-form mb-4">
              <i class="fas fa-coins prefix grey-text"></i>
              <label data-error="wrong" data-success="right" for="defaultForm-price">Price %</label>
              {{ form.price|as_crispy_field }}
            </div>
          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-lg btn-success" value="Give!" />
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}


{% block scripts %}

  <script charset="UTF-8">

  // items
  var availableItemTags = [
    {% for item in items %}
      { 
        "id": {{ item.id }},
        "value": "{{ item.name|escapejs }}"
      },
    {% endfor %}
  ];

  $('#id_item').autocomplete({ 
    source: availableItemTags,
    select: function (event, ui) {
      $("#id_item_id").val(ui.item.id);
    }
  });

  // members
  var availableMembers = [
    {% for member in members %}
      { 
        "id": {{ member.id }},
        "value": "{{ member.name|escapejs }}"
      },
    {% endfor %}
  ];

  $('#id_member').autocomplete({ 
    source: availableMembers,
    select: function (event, ui) {
      $("#id_member_id").val(ui.item.id);
    }
  });


  $('#dataTable').DataTable( {
    "order": [[ 2, "desc" ]]
  } );

  </script>

{% endblock %}